<html>
<head>
<title>Upload</title>
</head>
<body>
<form method="post" action="http://ccloadbalancer-47627977.ap-south-1.elb.amazonaws.com:80/uf" enctype="multipart/form-data">
    <input type = "file" name= "inputFile"/>
	<button type = "submit"> submit</button>
	<!-- <button> submit</button> -->
    <!-- <input type="submit"> -->
</form>

<form method="post" action="http://ccloadbalancer-47627977.ap-south-1.elb.amazonaws.com:80/search">
	<button type = "submit">Search Image by Id</button>
</form>

</body>
</html>

